.hero-video {
  width: 100%;
  z-index: -1;
  display: flex;

}

.hero-container {
  width: 100%;
  /* border: 5px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  flex-direction: column;

  text-align: center;
      background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    )
}

.hero-text {
  /* border: 3px solid yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  flex-direction: column;
  position: absolute;
  color: white;
}

.hero-buttons {
  color: white;
}

.hero-intro {
  /* display: flex; */
  /* margin-top: -70%; */
}

.hero-title {
}

.hero-tagline {
}

.hero-shop-button {
  border-color: transparent;
  border-radius: 20%, 10%, 20%, 20%;
  background: white;
  /* color: white; */
}

.hero-video-button {
  background: transparent;
  border-color: transparent;
  color: white;
}

.greeting-card {
  background-color: #faf8fa;
}
